.homepage {
  text-align: center;
  padding: 20px;
}

header {
  background-color: peach;
  padding: 20px;
}

main {
  margin: 20px;
}

.about, .services, .contact {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: red;
  padding: 10px;
}