<html>
<head>
<title>Embedded Style Sheet</title>
<style type="text/css">
body{background-color:pink;}
h1{font-family:Arial;color:brown;}
p{font-size:20pt; color:green;}
</style>
</head>
<body>
<h1>This is heading tag 1</h1>
<p>This is Paragraph.</p>
<h2>heading 2</h2>